GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

NODE_ENV=development
PORT=3000
MONGODB_URI=mongodb+srv://<USERNAME>:<PASSWORD>@cluster0.mongodb.net/<DATABASE>?retryWrites=true&w=majority
DATABASE_LOCAL=mongodb://localhost:27017/<DATABASE>
MONGODB_PASSWORD=<PASSWORD>

JWT_ACCESS_SECRET=your_access_secret
JWT_ACCESS_EXPIRES_IN=30s
JWT_ACCESS_COOKIE_EXPIRES_IN=30

JWT_REFRESH_SECRET=your_refresh_secret
JWT_REFRESH_EXPIRES_IN=1d
JWT_REFRESH_COOKIE_EXPIRES_IN=1

BREVO_USERNAME=your_brevo_username
BREVO_PASSWORD=your_brevo_password
